.fileList
    table.datatable
        thead
            tr
                th:nth-child(3)
                    padding 0 20px !important

        tbody
            tr
                &:hover
                    background: cloudColor
                td
                    padding 5px 24px !important

                    &:nth-child(1)
                        width 250px
                height 64px

        .nameHeader
            color #404040

        .tag
            display: inline-block
            border-radius 5px
            background-color #d7e2e6
            padding 0 8px
            margin 5px 2px