<template>
    <v-data-table
            :headers="headers"
            :items="organization.files"
            hide-actions
            class="fileList elevation-1"
    >

        <template slot="items" slot-scope="props">

            <td class="nameHeader" @click="showPreview(props.item.EntityID)">
                <strong v-text="props.item.Name"></strong>
            </td>

            <td>
                <span class="tag" v-for="tag in props.item.Tags" v-text="tag"></span>
            </td>

            <td class="date">
                <span v-text="props.item.date"></span>
            </td>

        </template>

    </v-data-table>
</template>

<script>
    export default {
        data() {
            return {
                headers: [
                    {
                        text: "Name",
                        align: "left",
                        sortable: false,
                        value: "name"
                    },
                    {
                        text: "Tags",
                        value: "tags",
                        sortable: false,
                        align: "left"
                    },
                    {
                        text: "Date modified",
                        value: "date"
                    }
                ],
                organization: this.$store.state.organization
            }
        },
        beforeMount() {
            console.info(":// Display FileList component")

            this.$store.dispatch("organization/loadFileList")
        },
        methods: {
            showPreview (fileId) {
                this.$emit('showPreview', fileId)
            }
        }
    }
</script>