<template>
    <div id="fileSearchAndDisplay">
        <basic-search></basic-search>
        <fileListComponent v-on:showPreview="showPreview"></fileListComponent>
        <v-dialog v-model="preview" fullscreen transition="dialog-bottom-transition" :overlay=false>
            <v-card>
                <v-toolbar dark color="primary" dense>
                    <v-btn icon @click.native="preview = false" dark>
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>File Preview</v-toolbar-title>
                </v-toolbar>
                <file-preview v-bind:documentId=previewFileId></file-preview>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import FileListComponent from "./fileList.vue"
    import FilePreview from "./filePreview.vue";
    import BasicSearch from "../search/basicSearch.vue"

    export default {
        name: 'fileSearchAndDisplay',
        components: {
            FileListComponent,
            FilePreview,
            BasicSearch
        },
        data () {
            return {
                preview: false,
                previewFileId: ''
            }
        },
        methods: {
            showPreview(fileId) {
                this.previewFileId = fileId
                this.preview = true;
            }
        }
    }
</script>
<!-- styling for the component -->
<style scoped>

</style>
