<template>
    <v-layout row>
        <v-flex xs12>
           <v-text-field label="Content..." prepend-icon="search"></v-text-field>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {}
        }
    }
</script>