<template>
    <v-layout row wrap class="grey lighten-3">
        <v-flex xs12 sm4 md4 class="align-items-center">
            <v-subheader>Date range:</v-subheader>
        </v-flex>
        <v-flex xs12 sm4 md4 class="pr-3">
            <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuPickerStart"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-left="40"
                max-width="290px"
            >
                <v-text-field
                    slot="activator"
                    label="Pick start date"
                    v-model="startDate"
                    prepend-icon="event"
                    single-line readonly
                >
                </v-text-field>
                <v-date-picker v-model="startDate" no-title scrollable actions>
                    <template slot-scope="{ save, cancel }">
                        <v-card-actions>
                            <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                            <v-btn flat color="primary" @click="save">Save</v-btn>
                        </v-card-actions>
                    </template>
                </v-date-picker>
            </v-menu>
        </v-flex>
        <v-flex xs12 sm4 md4 class="pr-3">
            <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuPickerEnd"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
            >
                <v-text-field
                    slot="activator"
                    label="Pick end date"
                    v-model="endDate"
                    prepend-icon="event"
                    single-line
                    readonly
                >
                </v-text-field>
                <v-date-picker
                    v-model="endDate"
                    no-title
                    scrollable
                    actions
                >
                    <template slot-scope="{ save, cancel }">
                        <v-card-actions>
                            <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                            <v-btn flat color="primary" @click="save">Save</v-btn>
                        </v-card-actions>
                    </template>
                </v-date-picker>
            </v-menu>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {
                startDate: null,
                endDate: null,
                menuPickerStart: false,
                menuPickerEnd: false
            }
        }
    }
</script>