<template>
    <v-container fluid class="text-xs-center">
        <v-layout row wrap>
            <v-flex xs12 sm7 md7>
                <v-btn
                    dark
                    color="indigo darken-1"
                    :loading="upload"
                    @click.native="loader='upload'"
                    :disabled="loading"
                >Upload
                </v-btn>
                <v-btn dark color="info">Add folder</v-btn>
            </v-flex>
            <v-flex xs12 sm5 md5>
                <v-btn dark fab small color="blue darken-3">
                    <v-icon>file_download</v-icon>
                </v-btn>
                <v-btn dark fab small color="blue darken-3">
                    <v-icon>open_with</v-icon>
                </v-btn>
                <v-btn dark fab small color="blue darken-3">
                    <v-icon>delete</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                loader: null,
                loading: false,
                upload: false,
            }
        },
        watch: {
            loader () {
                const l = this.loader;
                this[l] = !this[l];

                setTimeout(() => (this[l] = false), 3000);

                this.loader = null
            }
        },
    }
</script>
