<template>
    <v-layout row>
        <v-flex xs12>
            <v-btn class="ma-0 mb-2 mr-3" flat color="primary" href="#/library">Back to basic search</v-btn>
            <v-btn class="ma-0 mb-2" outline color="indigo">Edit Organization Tag</v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {}
        }
    }
</script>