<template>
    <v-layout row wrap justify-space-around>
        <v-flex class="mt-3 align-items-center" xs6 sm4 md4>
            <v-checkbox
                label="Include archive"
                v-model="checkboxInclude"
                color="indigo"
                hide-details
            >
            </v-checkbox>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {
                checkboxInclude: false
            }
        }
    }
</script>