<template>
    <v-container fluid grid-list-xs>
        <v-layout row wrap>
            <v-flex xs3 v-for="project in organization.projects" :key="project.EntityID">
                <v-card elevation-1 tile height="150px" hover ripple
                        v-bind:to="'project/' + project.EntityID"
                        style="cursor: pointer">
                    <v-card-text>
                        {{project.Name}}
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
    export default {
        name: "projects",
        data() {
            return {
                organization: this.$store.state.organization
            }
        },
        beforeMount() {
            console.info(":// Display Projects component")

            this.$store.dispatch("organization/loadProjects")
        }
    }
</script>