<template>
    <v-layout row wrap align-center class="app-layout">
        <v-flex class="app-container-flex">
    <div id="projectDetails">
        Project: {{projectID}}

    </div>

    <v-btn color="primary" @click="showPreview">Show Preview</v-btn>
            <a v-bind:href="url" target="_blank">View Full</a>
            <v-dialog v-model="preview" fullscreen transition="dialog-bottom-transition" :overlay=false>
                <v-card>
                    <v-toolbar dark color="primary" dense>
                        <v-btn icon @click.native="preview = false" dark>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>File Preview</v-toolbar-title>
                    </v-toolbar>
                    <file-preview v-bind:documentId=previewFileId></file-preview>
                </v-card>
            </v-dialog>
        </v-flex>
    </v-layout>
</template>

<script>
    import VDialog from '../vuetify/components/VDialog/VDialog'
    import FilePreview from "../files/filePreview.vue";
    export default {
        name: 'projectDetails',
        components: {
            FilePreview,
            VDialog},
        props: ['projectID'],
        data() {
            return {
                preview: false,
                previewFileId: ''
            }
        },
        computed: {
            url () {
                return "#/file/viewer/" + this.previewFileId + "/1"
            }
        },
        methods: {
            showPreview() {
                this.previewFileId = '01a1645fd0ad48b4865b66d693203cae'
                this.preview = true;
            }
        }

    }
</script>
<!-- styling for the component -->
<style>

</style>
