<template>
    <v-card-text>
        <v-container fluid>
            <v-layout row>
                <v-flex xs7>
                    <v-text-field solo label="Search..." prepend-icon="search" @input="searchType" v-model="searchCriteria"></v-text-field>
                </v-flex>
                <v-flex xs5>
                    <v-btn flat color="primary" href="#/library/search">Advanced search</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card-text>
</template>

<script>
    import debounce from "lodash.debounce"
    import store from "store"

    export default {
        data() {
            return {
                searchCriteria: ""
            }
        },
        methods: {
            searchType() {
                this.sendSearchRequest(this.searchCriteria)
            },
            sendSearchRequest: debounce((basicSearchQuery) => {
                store.dispatch("organization/loadFileListForBasicSearch", basicSearchQuery)
            }, 500)

        },

        components: {
        }
    }
</script>